@model List<OrderDetail>

   @{
    ViewData["Title"] = "Modifier une commande";
}


<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Modifier la commande</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                
               <form asp-action="OrderEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                   
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nom Pizza</th>
                                        <th>Quantité</th>
                                        <th>Prix</th>
                                        <th>Gérer</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (int i=0; i< Model.Count(); i++)
                                    {

                                            
                                            <input asp-for="@Model[i].IdProduct" class="form-control" type="hidden"/>   
                                            <input asp-for="@Model[i].IdOrder" class="form-control" type="hidden"/>
                                            
                                             
                                            <tr>
                                                <td class="align-middle">@Model[i].IdProductNavigation.ProductName</td>


                                                <td class="align-middle">
                                                    <input asp-for="@Model[i].Amount" class="form-control"/>                             
                                                    <span asp-validation-for="@Model[i].Amount" class="text-danger"></span>
                                                </td>
                                                <td class="align-middle">
                                                    <input asp-for="@Model[i].UnitPrice" class="form-control"/>                             
                                                    <span asp-validation-for="@Model[i].UnitPrice" class="text-danger"></span>
                                                </td>
                                                

                                                <td class="align-middle">
                 
                                                    <a class="btn btn-danger text-white" asp-controller="Admin" asp-action="OrderDetailsDelete" asp-route-id="@Model[i].IdOrder"><i class="bi bi-trash">Supprimer</i></a>
                                                </td>
                                            </tr>
                                               
                                    }

                                            
                                </tbody>

                            </table> 

                            <div class="align-middle">                                                     
                               <input type="submit" value="Mettre à jour" class="btn btn-outline-success float-right" />
                               <a class="btn btn-outline-secondary" asp-action="Orders">Retour</a>                       
                             </div>
                            
                        </div>                      
                               
               </form>
                        

            </div>
        </div>
    </div>
</div>