@model pizzeria.Models.Address

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressesStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressesStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressesCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressesCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressesZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressesZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressesCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressesCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAddress">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
